<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="javascript:void(0)">BMA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="/books">
            <span class="material-symbols-outlined me-1">home</span>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="/my-books">
            <span class="material-symbols-outlined me-1">menu_book</span>
            My Books
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="/my-returned-books">
            <span class="material-symbols-outlined me-1">book_2</span>
            My Returned Books
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="/my-borrowed-books">
            <span class="material-symbols-outlined me-1">book_5</span>
            Borrowed Books
          </a>
        </li>
      </ul>

      <form class="d-flex align-items-center" role="search">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-link" type="submit">
          <span class="material-symbols-outlined">search</span>
        </button>
      </form>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center">
          <span class="ms-4 me-1 fw-bold">Welcome</span>
          <span class="text-capitalize fw-bold me-1">todo: add name</span>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="/my-profile">
            <span class="material-symbols-outlined me-1">person</span>
            My Profile
          </a>
        </li>
        <button class="btn btn-link" type="button" (click)="logout()">
          <span class="material-symbols-outlined">logout</span>
        </button>
      </ul>

    </div>
  </div>
</nav>
