.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

.codeContainer {
  width: 400px;
}

.activate-message, activation-error {
  text-align: center;
}

.activation-error {
  color: #c10e0e;
}
